@CHARSET "ISO-8859-1";

#main {
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #e1e1d0;
	padding-top: 0;
}

#header h4 {
	background: #eaeae1;
	padding: .25em;
	border: 1px solid #e1e1d0;
	margin: 0;
}

#footer {
	padding-top: .75em;
	text-align: right;
}

#content label {
	padding: .15em;
	font-size: .80em;
	width: 20em;
}

div #left {
    width: 74%;
    height: 200px;
    float: left;
}
div #right {
	width: 25%;
    float: right;
    height: 200px;
}

.pageSpace {
	margin: 0 0 1em 0;
}

input[type="text"] {
	width: 95%;
}

table {
	width: 100%;
}

.labelTD {
	width: 4em;
}

#statusCode, #searchedEmployee, #employeePagination {
	font-size: .70em;
}

.dataTable {
	border-collapse: collapse;
	margin: .5em 0 .25em 0;
}

.dataTable th {
	background: #eaeae1;
}

.dataTable, .dataTable th, .dataTable td {
	border: 1px solid #e1e1d0;	
	text-align: left;
	font-size: .90em;
}